<?xml version="1.0"?>
<config>
	<modules>
		<Cammino_Orderstatus>
			<version>0.0.1</version>
		</Cammino_Orderstatus>
	</modules>
	<global>
		<models>
			<orderstatus>
				<class>Cammino_Orderstatus_Model</class>
				<resourceModel>orderstatus_mysql4</resourceModel>
			</orderstatus>
			<orderstatus_mysql4>
				<class>Cammino_Orderstatus_Model_Mysql4</class>
				<entities>
					<history>
						<table>orderstatus_history</table>
					</history>
				</entities>
			</orderstatus_mysql4>
		</models>
		
		<resources>
            <orderstatus_setup>
                <setup>
                    <module>Cammino_Orderstatus</module>
                </setup>
            </orderstatus_setup>
            <orderstatus_write>
            	<connection>
            		<use>core_write</use>
            	</connection>
            </orderstatus_write>
            <orderstatus_read>
            	<connection>
            		<use>core_read</use>
            	</connection>
            </orderstatus_read>
        </resources>

		<helpers>
			<orderstatus>
				<class>Cammino_Orderstatus_Helper</class>
			</orderstatus>
		</helpers>

		<blocks>
			<orderstatus>
				<class>Cammino_Orderstatus_Block</class>
			</orderstatus>
			<adminhtml>
				<rewrite>
					<sales_order_view_history>Cammino_Orderstatus_Block_Adminhtml_Sales_Order_View_History</sales_order_view_history>
				</rewrite>
			</adminhtml>
		</blocks>

		<template>
            <email>
                <order_notify_change module="Cammino_Orderstatus">
                    <label>Order Status Changed</label>
                    <file>order_notify_change.html</file>
                    <type>html</type>
                </order_notify_change>
            </email>
        </template>

	</global>

	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<Cammino_Orderstatus before="Mage_Adminhtml">Cammino_Orderstatus_Adminhtml</Cammino_Orderstatus>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>

	<adminhtml>
		<layout>
			<updates>
				<orderstatus>
					<file>orderstatus.xml</file>
				</orderstatus>
			</updates>
		</layout>
	</adminhtml>

</config>
